* {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

.container {
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    min-height: 200vh;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #00cfe6;
    height: 30px;
    max-width: 100%;
}

h1 {
    font-size: 1.5em;
}

.olho {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    min-height: 182px;
}

/*
    Não é necessário o vendor prefix de -webkit-, animation já tem suporte em todas as plataformas.
    Vide https://caniuse.com/#feat=css-animation
*/
#olho-aberto {
    display: none;
    animation-name: olho;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Standard syntax */
@keyframes olho {
    0% {
        transform: translate3d(0, 0px, 0);
    }
    50% {
        transform: translate3d(0, 20px, 0);
    }
    100% {
        transform: translate3d(0, 0px, 0);
    }
}

.busca {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    left: -40px;
    position: relative;
}

#btn-buscar {
    background-color: #ff353e;
    background-image: url(b-fechada.png);
    position: relative;
    min-width: 90px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 8px 10px;
}

#btn-buscar:hover {
    background-image: url(b-aberta.png);
}

#buscar {
    min-width: 270px;
    width: 30vw;
    border: none;
    box-shadow: 0px 0px 10px #00cfe6ab;
    border-radius: 50px;
    position: relative;
    left: 79px;
    padding-left: 20px;
    font-size: 1.5em;
    min-height: 50px;
}

#buscar:focus {
    box-shadow: 0px 0px 10px #ff353e;
    outline: none;
}

#btn-buscar:focus {
    outline: none;
}

/*
    Você tem os elementos dos campos de endereço, todos eles são os mesmos campos e ainda assim você
    estava usando seletores de child e uma classe para cada section.
    Não é necessário isso, para isso tem os seletores de classe, para dizer que um mesmo css pode servir para
    vários elementos no HTML.
    Foi removido todos os child e deixado um CSS unico para cada section e suas divs filhas correspondentes.
    PS: Foi utilizada a metodologia BEM de CSS.
*/

.info {
    min-width: 310px;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px #ccc;
    position: relative;
    font-size: 2em;
    display: flex;
    margin: 0 auto;
    height: 90px;
    margin-top: 30px;
}

.info .info--field {
    width: 50%;
    background: #fa374b;
    height: 100%;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.info .info--value {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;
    justify-content: center;
}

.info .info--value textarea {
    resize: none;
    background: transparent;
    text-align: center;
    height: 60px;
    vertical-align: middle;
    line-height: 30px;
    border: none;
    font-size: 1em;
    color: #000;
}

@media only screen and (max-width: 1215px) {
    .info {
        flex-direction: column;
        min-height: 130px;
    }
    .info .info--field {
        width: 100%;
    }
    .info .info--value {
        width: 100%;
    }
}

@media only screen and (max-width: 340px) {
    .busca {
        margin-top: 20vh;
    }
}